<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.penghe.www.myframes">


    <uses-permission android:name="android.permission.INTERNET"/>

    <!--
       The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
       Google Maps Android API v2, but you must specify either coarse or fine
       location permissions for the 'MyLocation' functionality.
  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /><!--谷歌地图的API key-->

        <activity android:name=".activities.guide.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activities.MainActivity" /> -->
        <activity
            android:name=".activities.guide.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".others.Leson_2.FlowLayoutActivity" />
        <activity android:name=".others.leson_3.WaterFallLayoutActivity" />
        <activity android:name=".others.leson_3.CircleProgressBarActivity" />
        <activity android:name=".others.GoogleMapActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>